.card{
    margin-top: 5px;
    background-color: #FFF8F3;
    height: 100%;
    clip-path: polygon(86% 0, 100% 8%, 100% 100%, 0 100%, 0 0);
    border-radius: 15px;
    margin: 15px;
}
.title{
    font-size: 35px;
    font-family: HORINZONTAL;
    padding: 20px 0 0 15px;
}

.endereco{
    line-height: 25px;
}

.buttonCarousel {
    display: none!important;
}

.projectTitle{
    font-size: 18px;
}

/* .dottes{
    position: absolute;
    top: -10px!important;
} */

/* .dottes button svg{
    fill: blue;
} */